doctype html
html
    head
        style
            include styles.css
    body
        header
            h1 You have received a message.
        div
            block content
        footer
            h3 May the force be with you.
